@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xxmzmg');
  src:  url('fonts/icomoon.eot?xxmzmg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xxmzmg') format('truetype'),
    url('fonts/icomoon.woff?xxmzmg') format('woff'),
    url('fonts/icomoon.svg?xxmzmg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e900";
}
.icon-rocket:before {
  content: "\e907";
}
.icon-phone-call:before {
  content: "\e906";
}
.icon-earth-globe-with-continents-maps:before {
  content: "\e902";
}
.icon-google-plus:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-monitor:before {
  content: "\e901";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-location2:before {
  content: "\e948";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-menu:before {
  content: "\e9bd";
}
